.footer__inner{
    padding-bottom: 85px;
}
.footer__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 76px;
}

.footer__item {
    width: 100%;
    max-width: 214px;
}

.logo {
    display: block;
    margin-bottom: 15px;
}

.footer__location {
    font-weight: 500;
    font-size: 14px;
    line-height: 136%;
    text-decoration-line: underline;
    color: #777777;
}

.footer__item__title {

    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    color: #000000;
    margin-bottom: 12px;
}

.footer__sublist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 12px;
}

.footer__subitem {
    margin-bottom: 8px;
}

.footer__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
    opacity: 0.3;
    margin-bottom: 8px;
    transition: all 0.3s ease;
}

a:hover {
    opacity: 1;
}

.copyright {
    width: 100%;
    max-width: 329px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #000000;

}

.copyright__img {
    vertical-align: middle;
}

@media only screen and (max-width:600px) {
    .footer__inner{
        padding-bottom: 30px;
    }
    .footer__item{
        max-width: 119px;
    }
    .footer__item--logo{
        min-width: 284px;
        margin-bottom: 40px;
    }
    .footer__item--contacts{
        max-width: 156px;
    }

    .footer__link--tg{
        padding-left:22px ;
        position: relative;
    }
    .footer__link--tg::before{
        top: 0;
        left: 0;
        position: absolute;
        background-image: url("../../images/tg.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 16px;
        height: 16px;
        content: "";
    }
    .footer__link--ins{
        padding-left:22px ;
        position: relative;
    }
    .footer__link--ins::before{
        top: 0;
        left: 0;
        position: absolute;
        background-image: url("../../images/ins.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 16px;
        height: 16px;
        content: "";
    }
    .footer__link--face{
        padding-left:22px ;
        position: relative;
    }
    .footer__link--face::before{
        top: 0;
        left: 0;
        position: absolute;
        background-image: url("../../images/face.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 16px;
        height: 16px;
        content: "";
    }
    .footer__link--twit{
        padding-left:22px ;
        position: relative;
    }
    .footer__link--twit::before{
        top: 0;
        left: 0;
        position: absolute;
        background-image: url("../../images/twit.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 18px;
        height: 15px;
        content: "";
    }
}