.site-header {
    padding-top: 28px;
}

.header__inner {
    display: flex;
    align-items: center;

}

.logo {
    display: block;
}

.logo__text {
    display: block;
    font-weight: 800;
    font-size: 24px;
    line-height: 125%;
    color: #333333;
    margin-left: 13px;
}

.navbar {
    margin-left: 60px;
    width: 100%;
    max-width: 185px;

}

.navbar__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    list-style-type: none;
}


.navbar__item__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
    text-decoration: none;

}

.header__link {
    display: block;
    margin-left: auto;
    width: 100%;
    max-width: 120px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #D10700;
    border-radius: 50px;
    border: 1px solid #D10700;
    text-decoration: none;
    transition: 0.4s ease all;
}

.header__link:hover {
    color: #fff;
    background-color: #D10700;
}

.burger__btn {
    padding: 0;
    background-color: transparent;
    border: none;
    width: 26px;
    height: 26px;
    display: none;
}

.burger__btn__img {

    display: block;
    width: 26px;
    height: 26px;
}

@media only screen and (max-width:600px) {
    .site-header {
        padding-top: 20px;
    }

    .container {
        padding: 0px 17.5px;
    }

    .header__inner {
        position: relative;
    }

    .navbar {

        width: 100%;
        max-width: 600px;
        bottom: -185px;
        left: 0;
        right: 0;
        margin: 0 auto;
        // border: 1px solid red;
        border-top: 1px solid transparent;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: absolute;
        flex-direction: column;
        background-color: #fff;
        padding: 40px;
        display: none;
        transition: all 0.4s ease;
    }

    .navbar--open {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    .navbar__list {
        flex-direction: column;
        align-items: center;
    }

    .navbar__item {
        margin-bottom: 20px;
    }

    .header__link {
        display: none;
    }

    .burger__btn {
        margin-left: auto;
        display: block;
    }


}