.information__inner {
    padding-top: 100px;
}

.information__title__wrapper {
    width: 100%;
    max-width: 604px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.information__title {
    margin: 0;

    font-weight: 700;
    font-size: 54px;
    line-height: 104%;
    text-align: center;
}

.information__list {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;

}

.information__btn {
    display: none;
}

@media only screen and (max-width:600px) {

    .information__inner {
        padding-top: 50px;
    }

    .information__title__wrapper {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .information__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #222222;
    }

    .information__list {
        gap: 10px;
        margin-bottom: 60px;
    }

    .information__item {
        display: none;
    }

    .information__item--active {
        display: block;
    }
    .information__item--open {
        display: block;
    }

    .information__btn {
        display: block;
        margin: auto;
        font-weight: 500;
        font-size: 18px;
        line-height: 122%;
        text-decoration-line: underline;
        color: #D10700;
        background-color: transparent;
        border: none;
        margin-bottom: 70px;
    }
}